
@{
    ViewData["Title"] = "Register";
}


<form method="post" action="/home/lin">
    <table>
        <tr>
            <th>
                Username
            </th>
            <th>
                <input type="text" name="user" /><br />
            </th>
        </tr>
        <tr>
            <th>
                Password
            </th>
            <th>
                <input type="password" name="password" /><br />
            </th>
        </tr>
        <tr>
            <th>

            </th>
            <th>
                <input type="submit" value="Login" />
            </th>
        </tr>
    </table>
        
</form>